<div style="text-align:center">

  <nav class="navbar navbar-default nav-bg">
    <div class="container-fluid">
      <div class="navbar-header">
        <h1>
          {{title}}
        </h1>
      </div>
    </div>
  </nav>




  
  <div class="container-fluid row">
    <div class="col">
      <img src="http://cdn-static.denofgeek.com/sites/denofgeek/files/styles/main_wide/public/jackie-chan-chris-tucker-rush-hour-3.jpg?itok=CR9lB6cz" alt="wolf 1">
      <br>
      <p>jackie & Chris are back!</p>
      <p> Since we last heard anything about Rush Hour 4, namely the story you can find below, the director of the three films to date, Brett Ratner, has faced accusations of sexual misconduct. As such, it looks as if he's backed away from a bunch of movie projects (he was in line to direct the Hugh Heffner biopic).

          Rush Hour 4, however, is still very much pressing ahead. Jackie Chan had said as much last autumn, and now Chris Tucker, his co-star, has confirmed this too. "It’s happening. This is gonna be the rush of all rushes. Jackie is ready and we want to do this so that people don’t ever forget it", he told ESPN'S The Plug podcast.
          
          We don't have firm production dates, or anything of that ilk. But there is a clear intent from the two leads to make the film happen. We suspect now that it will...</p>
    </div>
  </div>

  <app-comments-component></app-comments-component>

