<nav class="navbar navbar-default nav-bg">
    <div class="container-fluid">
      <div class="navbar-header">
        <h1>
          {{title}}
        </h1>
      </div>
    </div>
  </nav>

<div class="container-fluid row">
  <div class="col">
    <img src="../assets/images/wolf1.jpg" alt="wolf 1">
    <br>
    <p>wolf image one</p>
  </div>
  <div class="col">
    <img src="../assets/images/wolf2.jpg" alt="wolf 2">
    <p>wolf image two</p>
  </div>
  <div class="col">
    <img src="../assets/images/wolf_cola.jpg" alt="wolf cola">
    <p>wolf image cola  </p>
  </div>
</div>